@import url(../../App.css);


.main-slide .slick-prev,
.main-slide .slick-next {
    font-size: initial;
    line-height: initial;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    z-index: 99;
    outline: none;
}

.main-slide .slick-prev::before,
.main-slide .slick-next::before {
    content: '';
}

.main-slide .slick-next {
    right: 20px;
}

.main-slide .slick-prev {
    left: -10px;
}


.img-box {
    position: relative;
    height: 200px;
}

.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    object-fit: cover;
}

.img-box div {
    z-index: 3;
}

.img-box .btn {
    background-color: var(--pill-color);
    color: white;
}

.img-box .btn:active {
    border-color: var(--pill-color);
    background-color: var(--pill-color);
    color: white;
}

.sliderProfile img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.sliderProfile span {
    display: block;
    font-size: 13px;
    padding-top: 0px;
}

.promotion-signin {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    display: grid;
    place-items: center;
    z-index: 10;
    transition: all 0.3s;
    opacity: 0;
}

.promotion-slider:hover .hover-hide {
    opacity: 0;
}

.promotion-slider {
    transition: all 0.5s;
}

.promotion-slider:hover {
    box-shadow: 0 0 20px 1px rgba(184, 184, 184, 0.714);
}

.promotion-signin button {
    transform: translateY(-30px);
    transition: all 0.5s;
}

.promotion-slider:hover .promotion-signin button {
    transform: translateY(0px);
}

.promotion-slider:hover .promotion-signin {
    opacity: 1;
}